ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}
li{
    display: block;
    float: left;
    margin: 10px;
}
#id1 a{
    text-decoration: none;
    margin-left: 250px;
}
#id1 a:hover{
    color:red;
    border: 1px solid white;
    border-radius: 20px;
    background-color:cornsilk;
}
#id2{
    color: black;
}
h1{
    color:lightcoral;
    text-shadow:2px 2px white;
}
img{
    border: 1px solid white;
    border-radius: 20px;
}
img:hover{
    transform: scale(1.1);
}
h6{
    color:white;
}
h6:hover{
    text-decoration: underline;
    color: slateblue;
}
div{
    background-image: url(38.jpg);
    background-repeat:no-repeat
    background-size: 100%;
}
h2{
    text-shadow: 2px 2px red;
}