ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}
li{
    display: block;
    float: left;
    margin: 10px;
}
a{
    text-decoration: none;
    margin-left: 250px;
}
a:hover{
    color:red;
    border: 1px solid white;
    border-radius: 20px;
    background-color:cornsilk;
}
#id1{
    background-image: url(30.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
