
p{
    color:cyan;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;

}
li{
    display: block;
    float: left;
    margin: 10px;
}
a{
    text-decoration: none;
    margin-left: 250px;
}
a:hover{
    color:red;
    border: 1px solid white;
    border-radius: 20px;
    background-color:cornsilk;
}
body{
    background-image: url(28.jpg);
    background-repeat: no-repeat;
    background-size: 100%; 

}
u{
    text-decoration: none;
    color:white;
}
#div2{
    color:khaki;
}
#id1{
    text-shadow: 3px 3px floralwhite;
    margin: auto;
    animation: mymove 3s infinite;
}
@keyframes mymove{
    50% {transform: rotate(360deg);}
}
